<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Params</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <%if(firstEntry){%>
        <form action="/systemParams" method="post">
            Enter the number of days college is open.
            <input type="number" name="numberOfDays"> <br><br>
            Enter the number of periods per day
            <input type="number" name="periodsPerDay"><br><br>
            <button type="submit">submit</button>
        </form>
        <%}else{%>
            The paramates are already set as : <br>
            Number of days institute is open : <%=days%> <br>
            Number of periods per day : <%=periods%> <br>
            Click <a href="/systemParams">here</a> to reset them.
            click <a href="/getProf">here</a> to move forward.
            <%}%>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>