<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Params</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
            The paramates are currently set as : <br>
            Number of days institute is open : <%=days%> <br>
            Number of periods per day : <%=periods%> <br>

            Fill the below form to reset them, keep in mind that when you reset these 2 parameters,all the ban-time of all resources ,as well as 
            the set-time of all periods get erased.  
            <form action="/parameter" method="post">
                Days : <input type="number" required name="days" min="1"> <br>
                Period : <input type="number" required name="periods" min="1"> <br>
                <button type="submit">Submit</button>
            </form>

            click <a href="/homepage">here</a> to go back to homepage.
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>