<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <%for(const [key,value] of sendTable){%>
    <h1><%=key%></h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Periods/Days</th>
                <%for(let col=1 ; col<=periodsPerDay ; col++){ %>
                <th scope="col">Period <%=col%></th>
                <%}%>
              </tr>
            </thead>
            <tbody>
                <%for(let day=0 ; day<numberOfDays ; day++){%>
              <tr>
                <th scope="row">Day <%=day+1%></th>
                <%for(let hour=0;hour<periodsPerDay ; hour++){%>
                <td><%=value[day][hour]%></td>
                <%}%>
              </tr>
              <%}%>
            </tbody>
          </table>
        <%}%>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>

</html>